# MICOM medium for VMH eu average diet

Here we will build up the environmental conditions used for modeling. We will start from the metabolite abundances obtained from the VMH diet designer and basically go through the following step.

1. Convert to fluxes and adjust very low abundant compounds.
2. Dilute metabolites absorbed in the small intestine.
3. Add primary bile acids and mucin cores.
4. Add in missing components to allow for at least slow growth for all known taxa residing in the human gut.

That should leave us with a set of usable media for all later simulation steps.

But first let us inspect the actual diet data we got. For that we will read the diet data, rearrange it a bit and add in annotations.

In [20]:
import pandas as pd

diet = pd.read_csv("../data/vmh_eu_average.tsv", sep="\t").iloc[:, 0:2]
diet.columns = ["reaction", "flux"]
annotations = pd.read_csv("../data/agora_metabolites.csv") 

diet = diet.rename(columns={diet.columns[0]: "reaction"})
diet["metabolite"] = diet.reaction.str.replace("^EX_", "", regex=True).str.replace("\\[e\\]|\\(e\\)", "", regex=True)
diet.loc[diet.metabolite == "4hpro", "metabolite"] = "4hpro_LT"  # fix name for hydroxyproline
diet.loc[diet.flux == 0, "flux"] = 1e-4  # bug in VMH designer where everything <1e-4 gets truncated to 0

diet

            reaction           flux  metabolite
0         EX_etoh[e]     234.434016        etoh
1          EX_h2o[e]  165892.342500         h2o
2         EX_caro[e]       0.003586        caro
3      EX_retinol[e]       3.002252     retinol
4          EX_thm[e]       5.407858         thm
..               ...            ...         ...
86         EX_fol[e]       0.000135         fol
87       EX_hdcea[e]       7.120473       hdcea
88      EX_strch1[e]      33.037000      strch1
89           EX_i[e]       0.002012           i
90  EX_starch1200(e)       0.305870  starch1200

[91 rows x 3 columns]

## Adjust for intestinal adsorption

To achieve this we will load the Recon3 human model. AGORA and Recon IDs are very similar so we should be able to match them. We just have to adjust the Recon3 ones a bit. We start by identifying all available exchanges in Recon3 and adjusting the IDs.

In [21]:
from cobra.io import read_sbml_model
import pandas as pd

recon3 = read_sbml_model("../data/Recon3D.xml.gz")
exchanges = pd.Series([r.id for r in recon3.exchanges])
exchanges = exchanges.str.replace("__", "_").str.replace("_e$|EX_", "", regex=True)
exchanges.head()

0     5adtststerone
1    5adtststerones
2             5fthf
3             5htrp
4             5mthf
dtype: object

In [22]:
diet["dilution"] = 1.0
diet.loc[diet.metabolite.isin(exchanges), "dilution"] = 0.2
diet["flux"] = diet["flux"] * diet["dilution"] 
diet[["metabolite", "dilution"]].drop_duplicates().dilution.value_counts()

dilution
0.2    79
1.0    12
Name: count, dtype: int64

## Adding host supplied components

Finally we add the host metabolites such as primary bile acids and mucins and a minuscule amount of oxygen.

In [23]:
diet.set_index("metabolite", inplace=True)

# mucin
for met in annotations.loc[annotations.metabolite.str.contains("core"), "metabolite"]:
    diet.loc[met, "flux"] = 1

# primary BAs
for met in ["gchola", "tchola"]:
    diet.loc[met, "flux"] = 1

# fiber
diet.loc["cellul", "flux"] = 0.1

# anaerobic
diet.loc["o2", "flux"] = 0.001

diet.reset_index(inplace=True)
diet["reaction"] = "EX_" + diet.metabolite + "(e)"
diet

     metabolite          reaction          flux  dilution
0          etoh        EX_etoh(e)     46.886803       0.2
1           h2o         EX_h2o(e)  33178.468500       0.2
2          caro        EX_caro(e)      0.000717       0.2
3       retinol     EX_retinol(e)      0.600450       0.2
4           thm         EX_thm(e)      1.081572       0.2
..          ...               ...           ...       ...
102  gncore2_rl  EX_gncore2_rl(e)      1.000000       NaN
103       core7       EX_core7(e)      1.000000       NaN
104      gchola      EX_gchola(e)      1.000000       NaN
105      tchola      EX_tchola(e)      1.000000       NaN
106          o2          EX_o2(e)      0.001000       NaN

[107 rows x 4 columns]

And we will merge this table with some annotations to make it more accessible.

In [24]:
skeleton = pd.merge(diet, annotations, on="metabolite")

skeleton["global_id"] = skeleton.reaction
skeleton["reaction"] = "EX_" + skeleton.metabolite + "_m"
skeleton.head()

,metabolite,reaction,flux,dilution,name,hmdb,kegg.compound,pubchem.compound,inchi,chebi,global_id
0,etoh,EX_etoh_m,46.886803,0.2,ethanol,HMDB00108,C00469,702.0,"InChI=1S/C2H6O/c1-2-3/h3H,2H2,1H3",NaN,EX_etoh(e)
1,h2o,EX_h2o_m,33178.468500,0.2,Water,HMDB02111,C00001,962.0,InChI=1S/H2O/h1H2,NaN,EX_h2o(e)
2,caro,EX_caro_m,0.000717,0.2,beta-carotene,HMDB00561,C02094,NaN,NaN,NaN,EX_caro(e)
3,retinol,EX_retinol_m,0.600450,0.2,retinol,HMDB00305,C00473,445354.0,InChI=1S/C20H30O/c1-16(8-6-9-17(2)13-15-21)11-...,NaN,EX_retinol(e)
4,thm,EX_thm_m,1.081572,0.2,Thiamin,HMDB00235,C00378,1130.0,InChI=1S/C12H17N4OS/c1-8-11(3-4-17)18-7-16(8)6...,NaN,EX_thm(e)

## Complete the medium

Great we now have a pretty good skeleton. One issue that this will never be fully complete. There will always be some components missing that are essential for microbial growth. Fortunately, we provide a algorithm in MICOM to complete a medium with the smallest set of additional components to provide growth to all intestinal taxa.

In [25]:
from micom.workflows.db_media import complete_db_medium

manifest, imports = complete_db_medium("../../Database/agora201_gtdb207_species_1.qza", skeleton, growth=0.05, threads=12, max_added_import=10, weights="mass")

Completing 1439 species-level models on a medium with 88 components (0 strict).

Output()

Obtained growth for 1436 models adding additional flux of 0.34/33777.05 on average.

In [26]:
manifest.can_grow.value_counts()

can_grow
True     1436
False       3
Name: count, dtype: int64

In [27]:
filled = imports.max()
added = filled[~filled.index.isin(skeleton.reaction)]
print(f"Added flux is {added.sum():.2f}/{filled.sum():.2f} mmol/h.")

Added flux is 74.88/34055.42 mmol/h.

Let's see what was added in large amounts.

In [28]:
added.sort_values(ascending=False)[0:20]

EX_h_m         10.000000
EX_for_m       10.000000
EX_acald_m      9.849747
EX_h2_m         6.073638
EX_succ_m       5.742761
EX_gcald_m      5.142999
EX_tre_m        4.798665
EX_urea_m       2.666784
EX_nh4_m        2.485410
EX_no3_m        2.303392
EX_fum_m        2.108646
EX_ac_m         1.611999
EX_co2_m        1.572000
EX_oxa_m        1.511832
EX_glyc_m       1.313127
EX_rib_D_m      1.159081
EX_glyleu_m     0.924240
EX_glyc3p_m     0.654449
EX_no2_m        0.608062
EX_lac_D_m      0.505106
dtype: float64

Looks okay. So we will now assemble the final medium. For this we add the new components to each sample and rebuild the annotations for a nicely formatted medium.

In [29]:
added_df = added.reset_index() 
added_df.iloc[:, 0] = added_df.iloc[:, 0].str.replace("EX_|_m$", "", regex=True)
added_df.columns = ["metabolite", "flux"]
added_df = pd.concat([skeleton[["metabolite", "flux"]], added_df])

completed = pd.merge(added_df, annotations, on="metabolite", how="left")
completed["reaction"] = "EX_" + completed.metabolite + "_m"
completed["global_id"] = "EX_" + completed.metabolite + "(e)"
completed

,metabolite,flux,name,hmdb,kegg.compound,pubchem.compound,inchi,chebi,reaction,global_id
0,etoh,46.886803,ethanol,HMDB00108,C00469,702.0,"InChI=1S/C2H6O/c1-2-3/h3H,2H2,1H3",NaN,EX_etoh_m,EX_etoh(e)
1,h2o,33178.468500,Water,HMDB02111,C00001,962.0,InChI=1S/H2O/h1H2,NaN,EX_h2o_m,EX_h2o(e)
2,caro,0.000717,beta-carotene,HMDB00561,C02094,NaN,NaN,NaN,EX_caro_m,EX_caro(e)
3,retinol,0.600450,retinol,HMDB00305,C00473,445354.0,InChI=1S/C20H30O/c1-16(8-6-9-17(2)13-15-21)11-...,NaN,EX_retinol_m,EX_retinol(e)
4,thm,1.081572,Thiamin,HMDB00235,C00378,1130.0,InChI=1S/C12H17N4OS/c1-8-11(3-4-17)18-7-16(8)6...,NaN,EX_thm_m,EX_thm(e)
...,...,...,...,...,...,...,...,...,...,...
221,ph2s,0.002058,Polysulfide,NaN,NaN,NaN,NaN,NaN,EX_ph2s_m,EX_ph2s(e)
222,meoh,0.000310,methanol,HMDB01875,C00132,887.0,"InChI=1S/CH4O/c1-2/h2H,1H3",NaN,EX_meoh_m,EX_meoh(e)
223,melib,0.020715,Melibiose,NaN,NaN,NaN,NaN,NaN,EX_melib_m,EX_melib(e)
224,Lkynr,0.000310,L-kynurenine,HMDB00684,C00328,161166.0,InChI=1S/C10H12N2O3/c11-7-4-2-1-3-6(7)9(13)5-8...,NaN,EX_Lkynr_m,EX_Lkynr(e)
225,xylan,0.000024,"Oat spelt xylan, MW 79200 (DOI: 10.1002/masy.2...",NaN,NaN,NaN,NaN,NaN,EX_xylan_m,EX_xylan(e)

## Validate the medium

And we will now validate whether the medium works.

In [30]:
from micom.workflows.db_media import check_db_medium

check = check_db_medium("../../Database/agora201_gtdb207_species_1.qza", medium=completed, threads=12)

Checking 1439 species-level models on a medium with 226 components.

Output()

In [31]:
check.growth_rate.describe()

count    1439.000000
mean        0.053582
std         0.076636
min         0.000499
25%         0.001247
50%         0.004966
75%         0.071942
max         0.323333
Name: growth_rate, dtype: float64

And we are done now and will the save the final medium.

In [32]:
import qiime2 as q2

arti = q2.Artifact.import_data("MicomMedium[Global]", completed)
arti.save("../media/vmh_eu_average_agora2.qza")

'../media/vmh_eu_average_agora2.qza'